
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
    <a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new categories</a>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Marks</th>
            <th>Course</th>
            <th>Mobile</th>
            <th>Age</th>
            <th>address</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
            <tr *ngFor="let stu of stulist">
                <td>{{stu.id}}</td>
                <td>{{stu.name}}</td>
                <td>{{stu.marks}}</td>
                <td>{{stu.course}}</td>
                <td>{{stu.mobile}}</td>
                <td>{{stu.age}}</td>
                <td>{{stu.address}}</td>
              
                
                <td class="text-center"><a class='btn btn-info btn-xs' (click)="updateStudent(stu)"><span class="glyphicon glyphicon-edit"></span> Edit</a> 
                    <a (click)="deleteStudent(stu.id)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove" ></span> Delete</a>
                </td>
            </tr>
            
    </table>
    </div>
</div>